
/*   class 类选择器  .开头  */
.style1{
	width:500px;
	height:500px;
	background-color:silver;
	border:1px solid black;
	margin-top:50px;
	margin-left:50px;
	padding-top:10px;
	padding-left:10px;
}

.span-style1{
	color:red;
	font-size:30px;
}

.span-style2{
	color:yellow;
	font-size:20px;
}

.span-style3{
	color:blue;
	font-size:20px;
	font-style:italic;
	text-decoration:none;
}

.span-style4{
	color:green;
	font-size:20px;
	font-weight:bold;
}

.span-style5{
	color:#223456;
	font-size:30px;
	font-style:italic;
}

.class-s1{
    background-color:pink;
	font-size:20px;
	font-weight:bold;
	
}

/*  ID选择器   #开头 */
#id-s1{
	background-color:silver;
	font-size=40px;

}

/*  html  元素选择器 */
body{	
     color :red;
}

a{
   color:black;
   text-decoration:none;
}

a:link{
   color:green;
   text-decoration:none;
}

a:hover{
    text-decoration:underline;
	color:green;
	font-size:50px
	}
	
a:visited{
    color:red; 
}	

/*   同一种元素分类    */
p.cls1{
    color:green;
	font-size:30px;
}

p.cls2{
    color:blue;
	font_size:50px;
}

/*  *通配符选择器  */

*{
 margin:0;
 /*margin-left:20px;
 padding:0;
 color:red;
 */
 }
 
 /*      父子选择器   */
 #id-s1 span{
	color:red;
	font-style:italic;
	
 
 }
 
 #id-s1 span span{
	color:black;
}

#id-s1 span span a{
    color:blue;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 